<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
 <appSettings>
    <add key="SERVER" value="10.2.171.110"/>
    <add key="DB" value="SJEMSSYSTEST"/>
    <add key="USER" value="sa"/>
    <add key="PWD" value="ape@srv001"/>
  </appSettings>
</configuration>
