<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="SERVER" value="+voWRBh31EJQ4uG7PBVsn0mk+hsf/Tfq4QIzWhrmGFE=" />
    <add key="DB" value="me2h+fkH5e19+C9Q2eelA0CpUT1QrgPr+aqVvfYCnAQ=" />
    <add key="USER" value="YpQOPVV4Ww2aOofSZjUg1g==" />
    <add key="PWD" value="Ekc+KDkeA711W+OWmicdttsvTYXeSeErOAIhLtmn5iM=" />
    <add key="Encrypt" value="true" />
  </appSettings>
</configuration>
