<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SJeMESClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="Server" value="192.168.0.122"/>
    <add key="Port" value="80"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <SJeMESClient.Properties.Settings>
            <setting name="SJeMESClient_SJ_WebService_SJ_WebService" serializeAs="String">
                <value>http://112.74.49.34:8080/SJ-WebService.asmx</value>
            </setting>
        </SJeMESClient.Properties.Settings>
    </applicationSettings>
</configuration>